.form_start input,
.form_start select,
.form_start textarea {
    width: 100%;
    display: block;
    background: transparent;
    height: 41px;
    padding: 0px 19px 0px;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #70707070;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #606060;
    outline: none;
}
h6.small_heading {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.form_start select {
    appearance: none;
    background-image: url(../images/select1.png);
    background-repeat: no-repeat;
    background-position: center right 16px;
}
.form_start .form_row .single_input label {
    color: #606060;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 7px;
}
.form_start .form_row .single_input {
    width: 48%;
    margin-top: 11px;
    display: block;
}
.form_start .form_row {
    display: flex;
    justify-content: space-between;
}
/* Customk Radio Btn */
.adress_radio[type="radio"]:checked,
.adress_radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span,
.adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span {
    position: relative;
    padding-left: 41px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    position: relative;
    top: -11px;
}
.adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span:before,
.adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #D29F45;
    border-radius: 100%;
    /* background: #fff; */
}
.adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span:after,
.adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #D29F45;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* End Here */
/* Custom Checkbox Start here */
.custom_check_box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    color: #636060;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
/* Hide the browser's default checkbox */
.custom_check_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.custom_check_box .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 22px;
    background-color: #eee;
    border: 1px solid #636060;
    border-radius: 4px;
    background: transparent;
}

section.checkout_section .checkout_start .save_details {
    margin-top: 14px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.custom_check_box input:checked~.checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.custom_check_box .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid #FDAE25;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Custom Check Box End Here */
.page_heading h2 {
    font-size: 47px;
    text-align: center;
    font-weight: 600;
}
.page_heading {
    padding: 57px 0px 23px;
}
section.checkout_section .checkout_start .top_headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D29F45;
    padding: 11px 17px;
}
section.checkout_section .checkout_start .top_headings span,
section.checkout_section .checkout_start .top_headings span a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
section.checkout_section .checkout_start .address_side {
    padding-top: 13px;
}
section.checkout_section .checkout_start .address_side span.old_address {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}
section.checkout_section span {
    FONT-FAMILY: "Montserrat", sans-serif;
}
section.checkout_section .checkout_start .address_side .address_box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #D29F45;
    padding: 33px 24px;
    margin-top: 17px;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text {
    display: flex;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line {
    display: flex;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line small {
    background: transparent;
    border: 0px;
    padding: 0px;
    color: #1473E6;
    text-decoration: underline;
    font-size: 11px;
    font-weight: 500;
    margin-left: 12px;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.the_light_text {
    color: #00000073;
    font-size: 15px;
    font-weight: 400;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.default {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
section.checkout_section .checkout_start .address_side .address_box .single_address label {
    display: block;
}
section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .edit_btn button.edit {
    color: #1473E6;
    font-size: 13px;
    background: transparent;
    border: 0px;
    font-weight: 500;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
}
.add_new button.btn {
    padding: 13px 29px;
    font-size: 13px;
    margin-left: 39px;
}
/* End Here */
/* Payment Start Here */
.payment_details .top_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.checkout_section .checkout_start .payment_details {
    padding-top: 24px;
}
.payment_details .top_heading h6.small_heading {
    margin-bottom: 0px;
}
/* Saved Payment Css Start Here */
.payment-details {
    padding-top: 30px;
}
.payment-details .heading {
    padding-bottom: 0px;
}
.payment-details .saved-payment-method h5 {
    padding-bottom: 5px;
    font-size: 15px;
    color: #262626;
}
.payment-details .saved-payment-method label.container {
    padding: 0;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #70707099;
    padding: 10px 20px;
    position: relative;
}
.payment-details .saved-payment-method label.container input:checked~span.checkmark .card-details {
    box-shadow: 0px 0px 0px 2px #f32122;
    border-color: #fff;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card {
    display: flex;
    align-items: center;
    padding-left: 17px;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card figure {
    margin-bottom: 0;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card .input-box label {
    color: #000000;
    font-size: 8px;
    font-weight: 600;
    margin-bottom: unset;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card input {
    border: 0;
    height: unset;
    background-color: transparent;
    font-size: 16px;
    color: #343a40;
    font-weight: 500;
    width: 68%;
    height: 30px;
    display: block;
    border-radius: 0px;
    /* padding: 0px 10px; */
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .extra-btn {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -1px;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .extra-btn button.btn {
    margin-right: 20px;
    background: #C9C9C9;
    color: #7D7D7D;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 1;
    padding: 10px 19px;
    /* border-radius: 0; */
    border: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}
.payment-details .saved-payment-method label.container.second-card button.btn.default.disabled {
    visibility: hidden;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .extra-btn .selection {
    opacity: 0;
}
.payment-details .saved-payment-method label.container input:checked~span.checkmark .card-details .extra-btn .selection {
    opacity: 1;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .extra-btn .selection i {
    background: #0eb702;
    color: #fff;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}
.payment-details .saved-payment-method label.container input[type="radio"] {
    opacity: 0;
}
.payment-details .saved-payment-method label.container span.checkmark .card-details .radio-btn span {
    background: #fff;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #f35d63;
    top: 34%;
}
.payment-details .saved-payment-method label.container input:checked~span.checkmark .card-details .radio-btn span {
    background-image: url(../images/check.png);
    border: 0px;
    background-size: 100%;
    box-shadow: none;
}
.add-new-address label.container span.checkmark {
    background: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #f35d63;
    top: 24.5px;
}
.payment-details .saved-payment-method .add-new-method label.container input:checked~span.checkmark {
    background: #f32122;
}
/* Saved Payment Css Start Here */
/* Payment End Here */
/* Left Side End hee */
/* Right Side Start Here */
/* Promo Code Start here */
section.checkout_section .for_promo_code .form_start {
    display: flex;
    justify-content: space-between;
}
section.checkout_section .for_promo_code .form_start .input_text {
    width: 72%;
}
section.checkout_section .for_promo_code .form_start .input_text input {
    height: 100%;
}
section.checkout_section .for_promo_code .form_start .button_btn {
    width: 24%;
}
section.checkout_section .for_promo_code .form_start .button_btn button.btn {
    padding: 11px 0px;
    width: 100%;
}
section.checkout_section .for_promo_code {
    padding-top: 56px;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .top_heading {
    display: flex;
    justify-content: space-between;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .top_heading h6.small_heading {
    margin-bottom: 0;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .top_heading a {
    color: #1473E6;
    font-size: 13px;
    background: transparent;
    border: 0px;
    font-weight: 500;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
}
section.checkout_section .checkout_start .left_side .profuct_details_box {
    margin-top: 37px;
    padding: 37px 22px 27px;
    border: 1px solid #B4B4B4;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list {
    display: flex;
    flex-direction: column;
    height: 260px;
    overflow-y: scroll;
    padding-right: 12px;
    margin-top: 49px;
}

section.checkout_section .checkout_start .left_side .profuct_details_box .product_list::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list::-webkit-scrollbar-thumb {
    background: #D19E43;
    border-radius: 9px;
}

section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
    border-bottom: 1px solid #7070705e;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product .product_det {
    display: flex;
    align-items: center;
    gap: 6%;
    width: 77%;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product .product_det figure {
    margin-bottom: 0px;
    padding: 2px 13px;
    background: #F8F8F8;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product .product_det span.name {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product .product_det figure img {
    max-width: 31px;
    max-height: 57px;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product span.product_price {
    display: block;
    color: #D29F45;
    font-size: 16px;
    font-weight: 600;
}
.subtotal_totals .detail_information .the_row,
.grand_totaols .gran_price .the_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 0px;
}
.subtotal_totals .detail_information .the_row span,
.grand_totaols .gran_price .the_row span {
    font-size: 16px;
    color: #000;
    font-family: "Montserrat", sans-serif;
}
.subtotal_totals .detail_information .the_row span.question {
    font-weight: 600;
}
.subtotal_totals .detail_information .the_row span.answer {
    font-weight: 400;
}
.grand_totaols .gran_price .the_row span.question {
    font-size: 18px;
    color: #D29F45;
    font-weight: 600;
}
.grand_totaols .gran_price .the_row span.answer {
    font-size: 18px;
    font-weight: 500;
}
section.checkout_section .checkout_start .left_side .price_totals .grand_totaols {
    margin-top: 13px;
    padding-top: 12px;
    border-top: 1px solid #7070705e;
}
section.checkout_section .checkout_start .left_side .price_totals {
    padding: 35px 7px 15px;
}
.credit_earned span {
    font-size: 15px;
    font-weight: 600;
}
section.checkout_section .checkout_start .left_side .profuct_details_box .credit_earned.text-center {
    padding-top: 17px;
}
.checkout_start .the_confir_order {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #B4B4B4;
    padding-top: 41px;
}
.checkout_start .the_confir_order label.custom_check_box {
    color: #000000;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
section.checkout_section .the_confir_order button.btn {
    padding: 13px 28px !important;
}

section.checkout_section .checkout_start {
    padding: 130px 0px 88px;
}

/* Responsive Css Start Here */
@media (max-width: 1200px) {

    section.checkout_section .checkout_start .top_headings span,
    section.checkout_section .checkout_start .top_headings span a {
        font-size: 14px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.the_light_text {
        font-size: 14px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.default {
        font-size: 13px;
    }
    .adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span,
    .adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span {
        padding-left: 35px;
    }
    .add_new button.btn {
        padding: 10px 24px;
        font-size: 12px;
    }
    .payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card input {
        width: 51%;
    }
    .payment-details .saved-payment-method label.container span.checkmark .card-details .extra-btn button.btn {
        margin-right: 37px;
        padding: 8px 16px;
    }
}
@media (max-width: 991px) {
    .payment-details .saved-payment-method label.container input:checked~span.checkmark .card-details {
        padding: 10px 1px;
    }
    .payment-details .saved-payment-method label.container span.checkmark .card-details .extra-btn button.btn {
        padding: 5px 12px;
        font-size: 12px;
        margin-right: 47px;
    }
    .payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card figure img {
        max-width: 63px;
    }
    .payment-details .saved-payment-method label.container span.checkmark .card-details .visa-card input {
        width: 84%;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.default {
        font-size: 11px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.the_light_text {
        font-size: 11px;
    }
    section.checkout_section .checkout_start .address_side .address_box {
        padding: 25px 17px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line small {
        font-size: 9px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .edit_btn button.edit {
        font-size: 12px;
    }
    section.checkout_section .checkout_start .top_headings span,
    section.checkout_section .checkout_start .top_headings span a {
        font-size: 12px;
    }
    section.checkout_section .checkout_start .left_side .profuct_details_box .product_list {
        margin-top: 24px;
    }
    section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product .product_det figure img {
        max-width: 26px;
    }
    section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product .product_det span.name {
        font-size: 12px;
        max-width: 62%;
    }
    section.checkout_section .checkout_start .left_side .profuct_details_box .product_list .single_product span.product_price {
        font-size: 13px;
    }
    .subtotal_totals .detail_information .the_row span,
    .grand_totaols .gran_price .the_row span {
        font-size: 14px;
    }
    .grand_totaols .gran_price .the_row span.question {
        font-size: 15px;
    }
    .grand_totaols .gran_price .the_row span.answer {
        font-size: 14px;
    }
    .credit_earned span {
        font-size: 13px;
    }
    section.checkout_section .for_promo_code .form_start .button_btn button.btn {
        font-size: 11px;
    }
    .checkout_start .the_confir_order label.custom_check_box {
        max-width: 89%;
        font-size: 13px;
    }
    section.checkout_section .the_confir_order button.btn {
        padding: 1px 14px;
        height: 45px;
        letter-spacing: 2px;
    }
}
@media (max-width: 420px) {
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.default {
        font-size: 9px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .address_text .single_line span.the_light_text {
        font-size: 9px;
    }
    section.checkout_section .checkout_start .address_side .address_box .single_address .address_flex .edit_btn button.edit {
        font-size: 10px;
    }
    .adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span:before,
    .adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span:before {
        width: 14px;
        height: 14px;
    }
    .adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span,
    .adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span {
        padding-left: 23px;
    }
    .adress_radio[type="radio"]:checked+label .address_flex .address_text .radio_btn span:after,
    .adress_radio[type="radio"]:not(:checked)+label .address_flex .address_text .radio_btn span:after {
        width: 10px;
        height: 10px;
        left: 2px;
        top: 2px;
    }
    .add_new button.btn {
        padding: 5px 15px;
        font-size: 10px;
        margin-left: 16px;
        letter-spacing: 1px;
    }
    .form_start .form_row {
        display: block;
    }
    .form_start .form_row .single_input {
        width: 100%;
    }
    .payment_details .single_payment .payment-details .saved-payment-method label.container {
        display: block;
        margin-bottom: 0px;
    }
    .checkout_start .the_confir_order {
        display: block;
    }
    .checkout_start .the_confir_order label.custom_check_box {
        font-size: 11px;
        max-width: 100%;
    }
    section.checkout_section .the_confir_order button.btn {
        font-size: 12px;
        letter-spacing: 1px;
        margin-left: auto;
        display: block;
    }
    .payment-details .saved-payment-method label.container span.checkmark .card-details {
        padding: 10px 1px;
    }
    section.checkout_section .checkout_start .top_headings span,
    section.checkout_section .checkout_start .top_headings span a {
        font-size: 10px;
        font-size: 700;
    }
    section.checkout_section .for_promo_code {
        padding-top: 25px;
    }
    .left_side {
        margin-top: 75px;
    }
}
/* Add New Adress  */

.form_start .form_row .input_box {
    display: block;
    width: 100%;
}
.new_address_start .form_start .form_row {
    margin-top: 19px;
}
.new_address_start .form_start .form_row input {
    height: 45px;
}
.new_address_start .form_start .form_row .theree_inputs {
    width: 32%;
}
.form_start .form_row .input_box label {
    color: #606060;
}
.add_new_adress_form .modal-body {
    padding: 48px 25px;
}
.modal-content {
    border-radius: 0px;
}
.form_start .card_list {
    display: flex;
    padding-top: 20px;
    gap: 9px;
}
.form_start .card_list .single_card .select_card:checked+label {
    border: 1px solid #FDAE25;
}
.form_start .card_list .single_card label {
    padding: 5px 8px;
}
.form_start .card_list .single_card label img {
    min-width: 42px;
    border: 1px solid transparent;
}