.contact-form {
	padding-top: 125px;
	padding-bottom: 381px;
	background-image: url("../images/contact-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 140px;
	margin-top: 59px;
}
.contact-form .contact-form-wrapper .form-heading-wrapper {
	text-align: center;
}
.contact-form .contact-form-wrapper .form-heading-wrapper h2 {
    font-family: "Generica";
    font-size: 47px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 38px;
}
.contact-form .contact-form-wrapper .form-heading-wrapper p {
	color: #656565;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 50px;
}
.contact-form .contact-form-wrapper input {
	background: #ebebeb;
	height: 48px;
	border-radius: 0px;
	border: 0px;
}

.contact-form .contact-form-wrapper input::placeholder {
	font-family: "Montserrat";
	color: #606060;
	font-size: 12px;
	font-weight: 600;
}
.contact-form .contact-form-wrapper textarea {
	background: #ebebeb;
	border-radius: 0px;
	border: 0px;
}

.contact-form .contact-form-wrapper textarea::placeholder {
	font-family: "Montserrat";
	color: #606060;
	font-size: 12px;
	font-weight: 600;
}
