@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&display=swap");
@import url("http://fonts.cdnfonts.com/css/generica-2");
@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");
/* *********************** Begin of header section***************** */
header {
	position: fixed;
	z-index: 1;
	width: 100%;
}
header.active {
	background-color: #333132;
}
/* .nav-list ul li a {
  color: #000;
} */
/* *********************** end of of header section***************** */

/* ********Begin of banner-section */
.car-caption-flex {
	position: absolute;
	top: 0;
	right: 0;
	left: 153px;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.car-caption h3 {
	font-size: 23px;
	color: #ffffff;
	font-family: "Montserrat";
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 200;
}
.car-caption h2 {
	font-size: 81px;
	color: #ffffff;
	font-weight: 800;
	margin: 0;
}
.car-caption p {
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	line-height: 24px;
	padding-bottom: 50px;
	text-align: left;
}
.car-caption {
	text-align: left;
	margin: 0;
}
.car-caption-flex a {
	font-size: 14px !important;
	background: #d29f45 !important;
	padding: 10px 50px !important;
	color: #ffffff !important;
}
/* ***************End of banner section******* */

/* *********BEgin of Privacy section******* */
.privacy-head h2 {
	font-size: 60px;
	color: #000000;
	font-weight: 400;
	margin: 0;
	margin-bottom: 25px;
}
.privacy-head h4 {
	font-size: 20px;
	color: #5e5e5e;
	font-family: "Montserrat";
	font-weight: 400;
	text-transform: uppercase;
}
.privacy-stuff h3 {
	font-size: 25px;
	color: #5e5e5e;
	font-family: "Montserrat";
	font-weight: 700;
}
.privacy-stuff p {
	font-size: 14px;
	color: #5e5e5e;
	font-family: "Montserrat";
	font-weight: 600;
	margin-bottom: 50px;
}
.privacy-stuff h3 {
	font-size: 25px;
	color: #5e5e5e;
	font-family: "Montserrat";
	font-weight: 700;
	padding-top: 40px;
	padding-bottom: 35px;
}
section.privacy-sec {
	padding-top: 138px;
}
.privacy-stuff {
	border-bottom: 1px solid #f4f4f4;
}
/* *********End of Privacy section************* */

/* ************************Responsive****************** */
@media (max-width: 1100px) {
}
@media (max-width: 786px) {
	.car-caption h2 {
		font-size: 45px;
	}
	.car-caption h3 {
		font-size: 12px;
	}
	.car-caption p {
		font-size: 13px;
		line-height: 15px;
		padding-bottom: 36px;
	}
	.car-caption-flex {
		left: 47px;
	}
}
@media (max-width: 480px) {
	.car-caption h2 {
		font-size: 17px;
	}
	.car-caption p {
		font-size: 6px;
		padding-bottom: 0px;
		line-height: 8px;
		padding-bottom: 5px;
	}
	.car-caption-flex {
		top: 0;
		left: 17px;
		bottom: 382px;
	}
	.car-caption-flex a {
		font-size: 9px !important;
		padding: 4px 16px !important;
	}
	.privacy-head h2 {
		font-size: 40px;
	}
	.privacy-head h4 {
		font-size: 10px;
	}
	section.privacy-sec {
		padding-top: 30px;
	}
	.privacy-stuff p {
		font-size: 8px;
		padding-left: 10px;
	}
	.privacy-stuff h3 {
		font-size: 19px;
		padding-top: 22px;
		padding-bottom: 20px;
		padding-left: 10px;
	}
}
/* ************************Responsive****************** */
