@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&display=swap');
@import url('http://fonts.cdnfonts.com/css/generica-2');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
/* *********************** Begin of header section***************** */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
header.active {
  background-color: #333132;
}
/* .nav-list ul li a {
  color: #000;
} */
/* *********************** end of of header section***************** */

/* ********Begin of banner-section */
.car-caption-flex {
    position: absolute;
    top: 0;
    right: 0;
    left: 153px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.car-caption h3 {
    font-size: 23px;
    color: #ffffff;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
}
  .car-caption h2 {
    font-size: 81px;
    color: #ffffff;;
    font-weight: 800;
    margin: 0;
}
.car-caption p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    line-height: 24px;
    padding-bottom: 50px;
    text-align: left;
}
.car-caption {
    text-align: left;
    margin: 0;
}
  .car-caption-flex a {
    font-size: 14px !important;
    background: #d29f45 !important;
    padding: 10px 50px !important;
    color: #ffffff !important;
}
/* ***************End of banner section******* */
/* ***********Begin of Video section*********** */
.video-img img {
    width: 100%;
    position: relative;
}
.video-stars ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.video-stars ul li a {
    margin-right: 10px;
    color: #d29f45;
}
.video-inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-inner-head h3 {
    font-size: 25px;
    color: #5e5e5e;
    font-family: 'Montserrat';
    font-weight: 700;
}
.video-inner-head span {
    color: #d29f45;
}
.video-para p {
    font-size: 16px;
    color: #5e5e5e;
    font-family: 'Montserrat';
    font-weight: 500;
}
.video-all {
    border: 1px solid #c4c4c4;
    padding: 0px;
}
.video-text {
    padding: 8px;
}
.video-play {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}
.video-play i {
    color: #ffffff;
    border: 2px solid;
    padding: 16px 18px;
    border-radius: 60px;
    transition: 2s;
}
.video-all:hover .video-play {
    opacity: 1;
}
.video-head h2 {
    font-size: 86px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 30px;
}
.video-head {
    text-align: center;
}
.video-btn a {
    color: #fff;
    background-color: #d29f45;
    padding: 10px 30px;
    text-transform: uppercase;
}
.video-btn {
    text-align: center;
    padding: 70px;
}
section.video-sec {
    padding-top: 60px;
}
/* *************End of video section************* */

/* ************************Responsive****************** */
@media(max-width: 1100px){

}
@media(max-width: 768px){
    .car-caption h2 {
        font-size: 48px;
    }
    .car-caption-flex {
        top: 113px;
        left: 33px;
        bottom: unset;
    }
    .video-para p {
        font-size: 11px;
    }
    .video-inner-head h3 {
        font-size: 12px;
    }
    .video-inner-head span {
        font-size: 10px;
    }
    .video-inner-head {
        align-items: flex-start;
    }
}
@media(max-width: 480px){
    .car-caption h2 {
        font-size: 17px;
    }
    .car-caption p {
        font-size: 6px;
        line-height: 10px;
        padding-bottom: 6px;
    }
    .car-caption-flex a {
        font-size: 14px !important;
        padding: 5px 17px !important;
   
    }
    .car-caption-flex {
        top: 74px;
    }
    .video-head h2 {
        font-size: 42px;
    }
    .video-btn a {
        padding: 15px 15px;
    }
    .car-caption h3 {
        font-size: 8px;
    }
    .video-all {
        padding: 4px;
        margin: 11px;
    }
}
/* ************************Responsive****************** */
